**/.idea
**/.mvn
**/module1.iml
**/mvnw
**/mvnw.cmd
**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache
**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles
**/target
/trucker-api/src/main/resources/application.prod

