**/.idea
**/.mvn
**/module1.iml
**/mvnw
**/mvnw.cmd
**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache
**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles
trucker-api/target/*
!trucker-api/target/trucker-api-0.0.1-SNAPSHOT.jar

